openapi: 3.0.0
info:
  title: Senso Org API
  version: 1.13.0
  description: |
    The Senso API lets you ingest raw sources, query your compiled knowledge base, and generate verified content — all scoped to your organization.

    Authenticate every request with the `X-API-Key` header using your org API key.

servers:
  - url: https://apiv2.senso.ai/api/v1
    description: Production server

security:
  - OrgApiKey: []

tags:
  - name: Organization
    description: Your organization is the container for your knowledge base, API keys, and all compiled content. Every raw source you ingest is scoped here.
  - name: Industries
    description: |
      The public catalogue of industries Senso tracks. Each industry carries a set of prompts that run on a schedule against multiple AI models and locations, building up a history of how brands appear in AI answers for that sector.

      Browse the catalogue to find industries relevant to your organization and see how much prompt, model, and location coverage each one has. The catalogue is the same for every organization.
  - name: Users
    description: Manage who can ingest, query, and generate within your organization. Assign roles to control access.
  - name: Roles
    description: |
      Each organization gets its own copy of the built-in roles (`admin`, `collaborator`, `viewer`) plus any custom roles. List roles to discover the `role_id` you need when inviting users or changing their role — those endpoints accept `role_id` only.
  - name: API Keys
    description: |
      API keys authenticate your agents against your knowledge base. Each key is scoped to your organization — create separate keys for different agents, environments, or integrations.

      Keys can be further restricted to specific KB folders, so an external agent only queries what you allow.
  - name: Search
    description: >-
      Query your compiled knowledge base — get grounded AI answers, raw context chunks, or
      matching source IDs. Every search call consumes search credits.


      An **unscoped** key (no KB folder grants — the default for a new key) searches your
      entire knowledge base. A key that has been **scoped** to specific KB folders (see
      `GET /org/api-keys/{keyId}/kb-permissions`) searches only within those folders.


      An answering search (`/org/search`, `/org/search/full`, `/org/search/stream`) that finds nothing becomes an API search gap in your organization's gap report — see **Gaps**. Send `X-Senso-Signals: off` to keep automated or test searches out of it.
  - name: Gaps
    description: |
      The questions and claims your knowledge base could not back up, and what was decided about each — the same queue the Senso app shows as the Gap Report.

      **API search gaps.** A search through `POST /org/search`, `/org/search/full` or `/org/search/stream` (or the MCP server's `senso_search` tool in `answer` or `full` mode, or the CLI) that finds nothing files a gap with `origin.kind` `api_unanswered_question`, `surfaces` `[api_search]`, `problem` `not_found` and `kind` `missing`. The first such search for a question files it as `weak`, which the default list leaves out; a second, from any caller, makes it `open`. Questions match after folding case, whitespace and surrounding punctuation. A later API search for the same question that returns a sourced answer resolves the gap; a Quick Search answer in the app does not, and an API answer never resolves a Quick Search gap. `/org/search/context` and `/org/search/content` never file gaps, and searches made before API search gaps shipped never became gaps.

      **Keeping automated searches out.** Send `X-Senso-Signals: off` on test, monitoring or synthetic searches. The search still runs, consumes credits and is recorded; it just never counts towards a gap.

      Requires the Fetch product and the `bypass:kb_acl` permission, which organization API keys have.
  - name: Evals
    description: |
      Judge text against your organization's ground truth. An eval run applies one evaluator to one subject — a saved content item or text you supply — and records every claim it checked, the verdict, and the evidence behind it, so a score can be audited rather than trusted.

      Two evaluators are built in. `kb_accuracy` extracts the factual claims a text makes about your brand and verifies each one against your knowledge base. `brand_alignment` grades the text against the writing rules in your brand kit. Checking one text for both is two runs, on purpose: the two questions fail independently, and one score must never cover for the other.

      Runs execute on a worker. A trigger returns a run to poll, or holds the connection with `wait: true` and returns the finished result. Model cost is recorded on each run for transparency but is not billed against your credit balance.
  - name: Knowledge Base
    description: |
      Manage your knowledge base — the folder tree where all your ingested raw sources get compiled and stored.

      Your KB is structured like a file system: **folders** organize content, and **documents** (ingested files or raw text) hold the compiled knowledge that powers queries and content generation.

      In the API, both folders and documents are called **nodes**. Every node has a `kb_node_id`, a `type` (`folder` or `content`), and a `parent_id` linking it to its parent folder. The root folder has `parent_id: null`.
  - name: Brand Kit
    description: |
      Your org-wide identity config — voice, tone, persona, and writing rules. The brand kit ensures every piece of generated content sounds like you, not like generic AI output.

      Set it once, and it applies to all content generation calls. Without a brand kit, generated content has no identity guidance.
  - name: Website Import
    description: |
      One call that seeds your organization from its own public website: it fetches your home page plus the pages linked from it, ingests them into your knowledge base as documents, and — if you have no brand kit yet — drafts one from what it read.

      The site it imports is the website on file for your organization (`GET /org/me`), not something you pass in. Set it with `PUT /org/me` before the first import.

      An import runs in the background. Trigger it, then poll the status endpoint until `current` is `null` and read the outcome from `latest_completed`. Only one import can be in flight per organization at a time.
  - name: Content Types
    description: |
      Output templates that control the format, structure, and rules for each kind of generated content. Think of them as compilation targets — the shape your knowledge base gets compiled into.

      Every generation call requires a content type. A "FAQ Article" produces different output than a "LinkedIn Post", even from the same ingested sources.
  - name: Content Generation
    description: |
      Generate verified content by querying your compiled knowledge base. The engine combines your brand kit (voice), content type (format), and ingested raw sources (knowledge) to produce grounded output.

      Every fact in the generated content traces back to a source in your knowledge base — auditable and verifiable.
  - name: Content Engine
    description: Publish verified content to configured destinations or save drafts for editorial review. The last step in the ingest → compile → query → generate → publish pipeline.
  - name: Destinations
    description: |
      Manage the publish destinations available to your org. Every org with content generation enabled starts linked to the default shared destinations Senso provides — those are the targets used when a publish call names no explicit publishers.

      Today every destination is of type `citeables`. Shared destinations are provided by Senso and can be enabled per org; orgs can also register their own `citeables` domains, and remove any destination with a choice of what to do with live content (`leave`, `unpublish`, or `delete`).
  - name: Content
    description: |
      Manage compiled content items — both ingested raw sources and generated output. Track processing status, editorial workflow, verification state, and version history.
  - name: Members
    description: List members of your organization — the people and agents who can access your knowledge base.
  - name: Prompts
    description: |
      Manage prompts — the questions that drive content generation. Each prompt represents a question you want AI to answer well using your compiled knowledge base (e.g. "What are the current mortgage rates?").

      The `geo_question_id` you see in content generation requests is a prompt ID.
  - name: History Imports
    description: |
      When your organization adopts prompts from its industry, the run history already collected for that industry is copied onto your own prompts so your analytics start with data instead of an empty chart.

      Each of those back-fills is a job you can follow here. A job reports how many of your prompts it matched and how many historic runs it copied — read those counts rather than the status alone, because a job that matched nothing still finishes successfully.
  - name: Credits
    description: Track ingest, query, and generation usage against your org credit balance.
  - name: Builder
    description: Builder-mode generation runs — track how agents compile, query, and generate against your knowledge base in real time.
  - name: Run Configuration
    description: Configure AI models and generation schedules for your compilation and generation pipeline.
  - name: Questions
    description: Lightweight CRUD for prompts — the queries your knowledge base is optimized to answer. Use /org/prompts for the same data with full generation run history.
  - name: Permissions
    description: Available role permissions for controlling who can ingest, query, and generate.
  - name: Tags
    description: |
      Org-scoped labels attached to prompts, KB nodes, content items, and search queries. Use tags to group prompts by topic, content by campaign, or products by release — anything you want to filter or roll up metrics by.

      **Auto-tagging.** Senso auto-tags on creation for every taggable resource: prompts at `POST /org/prompts`, raw content at `POST /org/kb/raw` and uploaded files once ingestion finishes, and search queries as they're received on `/org/search*`. The tag library grows on its own — most callers never need to hit the tag-library endpoints directly.

      Every taggable endpoint still accepts tags by id **or** by name. When you attach by name, missing tags are created automatically within your organization.
  - name: Product Lines
    description: |
      Flexible org-scoped product/service definitions. Each product line has a name and an arbitrary JSON `details` blob — use it to describe the brand lines Senso should reason about when generating or evaluating content.

      Product lines are referenced by downstream generation and evaluation pipelines; the `details` schema is intentionally open so you can carry whatever structured metadata (SKUs, URLs, positioning statements, etc.) your workflows need.
  - name: Tracked Competitors
    description: |
      A curated list of competitor brands your organization wants to monitor. Tracked competitors feed downstream analytics (share-of-voice across prompt runs, citation comparisons) and inform content-generation prompts.

      Manage entries directly (create / update / delete), batch-import suggestions, or call `POST /org/competitors/suggest` to get AI-generated suggestions seeded from your organization's website and recent prompt-run results.
  - name: Tracked Sources
    description: |
      Per-org citation-classification rules that tier each cited URL as Owned (`primary`), Tracked (`tracked`), or External (`secondary`). Tracked sources drive share-of-voice and citation analytics by deciding which domains/paths count as your own content versus third-party.

      Each rule matches by `domain`, `host`, `path_prefix`, or `exact_url`. Rules created from published content (`source_origin: published`) are read-only.
  - name: Analytics
    description: |
      Read-only GEO analytics for your own organization — how often AI answers mention you, which sources those answers cite, and which of your monitored prompts you win or lose. Every response is scoped to the org that owns the API key; the org is taken from your credentials, never from a path or query parameter, so there is no cross-org read to get wrong.

      **Every cited URL falls into exactly one tier.** `primary` (Owned) is one of your own websites, `tracked` (Tracked) is one of your configured tracked sources, and `secondary` (External) is any other domain. The tiers partition citations but *not* answers — one answer can carry citations of all three tiers. That is why the per-tier *rates* below can sum past 100% while the per-tier *shares* sum to exactly 100%.

      **There are two denominators, and they are never mixed.** `D` is `cited_run_count`, the number of answers carrying at least one citation of any tier. `S` is `cited_total`, the number of citation instances — every cited URL counted separately. **Citation Rate** (per tier) and **Citation Coverage** (per domain or page) both divide by `D` and count distinct answers. **Citation Share** (per tier or per source) divides by `S` and counts cited URLs. An answer that cites you once alongside nine third-party URLs contributes a full 1/1 to your primary Citation Rate but only 1/10 to your primary Citation Share — a high rate with a low share means you get cited but are outnumbered inside every answer. Both denominators ship in the `totals` block of every window-scoped payload (the domains/pages endpoints carry them in `denominators`), so you can always redo the math or build a metric we did not ship.

      **Share of Voice divides by every brand mention, not by your tracked set.** `share_of_voice` is your `mention_total` over `brand_mention_total` — mention instances of every brand the models named, whether you track that brand or not. That is exactly the Share of Voice the Senso app reports, and the two are expected to agree to the digit. `tracked_mention_total` (you plus your tracked competitors) also ships in `totals`, but it is deliberately **not** the denominator: an organization with no tracked competitors has `tracked_mention_total` equal to `mention_total`, which would pin Share of Voice at 100% whenever you were mentioned at all. Divide by it yourself if you want the head-to-head view against your tracked set, and read that number knowing it moves whenever you edit the list. This API counts every other brand in `brand_mention_total` but never names them.

      **Answer text exists only for the latest answer per prompt × model × location.** `GET /org/analytics/answers/latest` and the `latest_answers` block of the prompt drill-down return full response text, citations, and competitor mentions for the newest answer of each combination — and nothing older. History is retained as daily additive counts only, so a time series can tell you how often you were mentioned last March but never what the model actually said. Do not treat the latest answers as a sample of a window — and note that `from`/`to` on `/org/analytics/answers/latest` filter on each answer's collection time (`run_at`), which hides combinations whose latest answer falls outside the window rather than returning older ones.

      **Built for agents as much as for developers.** Every window-scoped response carries the effective `window`, the additive `totals` behind every ratio, a `data_quality` flag, `notes[]` (prose caveats generated for that specific response), and `definitions{}` (one-line metric definitions naming each denominator); the glossary, filters, and latest-answers endpoints carry only the parts that apply to them. Every ratio ships as `{value, display}` — `value` is the unrounded 0–1 float for math, `display` is safe to quote verbatim. A ratio is `null`, never `0`, when its denominator was zero: null means "not measured", not "measured as zero". Call `GET /org/analytics/glossary` once to learn the whole vocabulary before you quote a number.
  - name: CTA Templates
    description: |
      Manage the call-to-action (CTA) templates your published content-engine pages can carry — a card with a heading, supporting copy, an optional image, and a button. One template can be the org default; each content item then inherits the default, pins a specific template, or opts out via its CTA selection (`/org/content/{id}/cta`).

paths:
  # ──────────────────────────────────────────────
  # Organization — /org/me
  # ──────────────────────────────────────────────
  /org/me:
    get:
      tags: [Organization]
      summary: Get your organization
      description: Returns the full details of the organization that owns the API key.
      operationId: orgGetSelf
      responses:
        "200":
          description: Your organization's details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgDetailResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      tags: [Organization]
      summary: Update your organization
      description: >-
        Updates editable organization fields. Only fields present in the body are
        changed; `websites` and `locations`, when provided, replace the existing lists.
      operationId: orgUpdateSelf
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrgRequest"
            example:
              name: Acme Corporation
              slug: acme
              logo_url: https://acme.example.com/logo.png
              websites:
                - url: https://acme.example.com
              locations:
                - country_code: US
                  region_name: California
      responses:
        "200":
          description: The updated organization.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgDetailResponse"
        "400":
          $ref: "#/components/responses/BadRequestBody"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /org/me/runs-enabled:
    patch:
      tags: [Organization]
      summary: Toggle the runs master switch
      description: >-
        Pauses or resumes the organization's scheduled question runs by setting
        `enable_runs`. (Content generation has its own switch.)
      operationId: orgSetRunsEnabled
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrgRunsEnabledRequest"
            example:
              enable_runs: false
      responses:
        "200":
          description: The updated organization.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgDetailResponse"
        "400":
          $ref: "#/components/responses/BadRequestBody"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /org/me/industry:
    put:
      tags: [Organization]
      summary: Set your organization's industry
      description: >-
        Sets the industry your organization belongs to, chosen from the public catalogue
        (`GET /org/industries`). Only an industry in the public catalogue can be chosen;
        any other id is a `404`.


        Your industry is what the prompt import works from: only prompts belonging to it
        can be imported, and the run history copied onto them is the history collected
        for it. It is also where an organization with no AI models or locations of its
        own gets them when it is first activated. Reading an industry's results does not
        require it to be yours — those endpoints accept any industry in the catalogue.


        Setting the industry does nothing else on its own: no prompts are created and no
        runs start.


        The industry can be set only once. Once your organization has one this returns a
        `409` naming the industry it already has; changing it afterwards is not
        self-serve. Returns your organization with the industry applied.
      operationId: orgSetIndustry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetOrgIndustryRequest"
            example:
              industry_id: 3f2b6a0e-8c1d-4e5f-9a7b-2c4d6e8f0a1b
      responses:
        "200":
          description: Your organization, with the industry applied.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgDetailResponse"
        "400":
          $ref: "#/components/responses/BadRequestBody"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: >-
            No industry in the public catalogue has that id, or your organization no
            longer exists.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Your organization's industry is already set and cannot be changed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ──────────────────────────────────────────────
  # Industries — /org/industries
  # ──────────────────────────────────────────────
  /org/industries:
    get:
      tags: [Industries]
      summary: List public industries
      description: >-
        Returns one page of the public industry catalogue — the industries Senso tracks
        that any organization can browse. Every row is public and the catalogue is the
        same for every organization; it is not scoped to your organization or narrowed
        by anything you have configured. Each row carries the counts you need to judge
        an industry's coverage: how many prompts it runs, how many AI models it runs
        against, and how many countries it covers.
      operationId: orgListPublicIndustries
      parameters:
        - name: search
          in: query
          description: >-
            Case-insensitive substring match against the industry `name` or `slug`.
            Omit to return the whole catalogue.
          schema:
            type: string
        - name: limit
          in: query
          description: Page size (1–100). Defaults to 50.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: offset
          in: query
          description: Number of items to skip. Defaults to 0.
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: sort
          in: query
          description: Sort order. Name sorts are case-insensitive.
          schema:
            type: string
            enum: [name_asc, name_desc, created_asc, created_desc]
            default: name_asc
        - name: live
          in: query
          description: >-
            When `true`, return only industries that are actively running — at least one
            AI model enabled and at least one active prompt. Industries that fail this
            check have no result history to draw on. Defaults to `false`, which returns
            the full catalogue. A non-boolean value is a `400`.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: One page of public industries.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicIndustryListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /org/industries/{id}/brands:
    get:
      tags: [Industries]
      summary: Brand leaderboard for an industry
      description: >-
        Returns the brands the AI answers named in this industry over a date window,
        ranked by how many answers mentioned each one, with mention totals, average
        position, sentiment counts, the most-cited domain, and trends against the
        previous window of the same length. Figures are counts rather than rates so
        you can compute shares against `totals` yourself. Ranks and trends are
        computed over the whole leaderboard before paging, so a later page still
        shows global ranks. You can read any industry in the public catalogue
        (`GET /org/industries`) and your organization's own industry; any other id
        is a `404`. Requires the GEO product.
      operationId: orgGetIndustryBrands
      parameters:
        - $ref: "#/components/parameters/IndustryID"
        - $ref: "#/components/parameters/IndustryFrom"
        - $ref: "#/components/parameters/IndustryTo"
        - $ref: "#/components/parameters/IndustryModels"
        - $ref: "#/components/parameters/IndustryLocation"
        - name: limit
          in: query
          description: Page size (1–100). Defaults to 100; larger values are clamped to 100.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
        - name: offset
          in: query
          description: Number of brands to skip. Defaults to 0.
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: canonicalize
          in: query
          description: >-
            When `true` (the default), spelling variants of the same brand are merged
            into one row and listed under `surface_forms`. Set `false` for the raw
            per-spelling leaderboard.
          schema:
            type: boolean
            default: true
        - name: rollup
          in: query
          description: >-
            `parent` folds sub-brands into the company that owns them, giving one row
            per parent company. Off by default, because sub-brands are entities people
            genuinely compare. Ignored when `canonicalize` is `false`; any other value
            is ignored.
          schema:
            type: string
        - name: entity_type
          in: query
          description: >-
            Comma-separated entity types to keep — for example `brand` to drop
            regulators and generic terms from a competitive table. Known types are
            `brand`, `regulator`, `publisher`, `government`, `generic_term`,
            `product_model`, and `forum_social`; an unclassified row counts as `brand`.
            Omit to keep every row. The filter is applied before paging, so `total`
            and every page contain only the kept types. `mentions_rank` stays the
            brand's position in the full landscape, so a filtered table can skip
            rank numbers.
          schema:
            type: string
      responses:
        "200":
          description: One page of the industry's brand leaderboard.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndustryBrandLeaderboardResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /org/industries/{id}/brands/{brand}:
    get:
      tags: [Industries]
      summary: Look up a brand in an industry by name
      description: >-
        Everything about one brand in the industry over the window, found by fuzzy
        name match and merged across spelling variants: mention rate, share of voice,
        average position, rank, sentiment, the most-cited domain, and a per-model
        breakdown. A brand the answers never named returns `200` with `mentioned`
        false and null `metrics`, not a `404`. A name never seen before is registered,
        so the response always carries a stable `brand_id`; use
        `GET /org/industries/{id}/brands-by-id/{brand_id}` for repeat calls. Reads are
        limited to the public catalogue and your organization's own industry.
        Requires the GEO product.
      operationId: orgGetIndustryBrandByName
      parameters:
        - $ref: "#/components/parameters/IndustryID"
        - $ref: "#/components/parameters/IndustryBrandName"
        - $ref: "#/components/parameters/IndustryFrom"
        - $ref: "#/components/parameters/IndustryTo"
        - $ref: "#/components/parameters/IndustryModels"
        - $ref: "#/components/parameters/IndustryLocation"
      responses:
        "200":
          description: The brand's standing in the industry over the window.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndustryBrandDetailResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /org/industries/{id}/brands-by-id/{brand_id}:
    get:
      tags: [Industries]
      summary: Look up a brand in an industry by id
      description: >-
        The same payload as the lookup by name, addressed by the stable `brand_id`
        and with no fuzzy matching — the repeatable call once a brand has been
        discovered. A brand that exists but was never mentioned in this industry and
        window returns `200` with `mentioned` false and null `metrics`. An id that
        was merged into another brand
        resolves to the surviving brand and returns that brand's id, so stored ids
        self-heal. Only an id that was never issued is a `404`. Reads are limited to
        the public catalogue and your organization's own industry. Requires the GEO
        product.
      operationId: orgGetIndustryBrandByID
      parameters:
        - $ref: "#/components/parameters/IndustryID"
        - $ref: "#/components/parameters/IndustryBrandID"
        - $ref: "#/components/parameters/IndustryFrom"
        - $ref: "#/components/parameters/IndustryTo"
        - $ref: "#/components/parameters/IndustryModels"
        - $ref: "#/components/parameters/IndustryLocation"
      responses:
        "200":
          description: The brand's standing in the industry over the window.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndustryBrandDetailResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /org/industries/{id}/domains/{domain}:
    get:
      tags: [Industries]
      summary: Look up a domain's citations in an industry
      description: >-
        How often the AI answers in this industry cited one domain over the window:
        the number of citations, its rank among cited domains, its share of all
        citations, and the brands most often named alongside it. Pass a bare domain in
        the path, or a full URL in `url`, which takes precedence; `resolved` reports
        the host as queried and the base domain it was matched to. A domain that was
        never cited returns `200` with `cited` false, not a `404`. Reads are limited
        to the public catalogue and your organization's own industry. Requires the GEO
        product.
      operationId: orgGetIndustryDomain
      parameters:
        - $ref: "#/components/parameters/IndustryID"
        - $ref: "#/components/parameters/IndustryDomain"
        - name: url
          in: query
          description: A full URL to look up instead of the path domain. Takes precedence when supplied.
          schema:
            type: string
        - $ref: "#/components/parameters/IndustryFrom"
        - $ref: "#/components/parameters/IndustryTo"
        - $ref: "#/components/parameters/IndustryModels"
        - $ref: "#/components/parameters/IndustryLocation"
      responses:
        "200":
          description: The domain's citation standing in the industry over the window.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndustryDomainDetailResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────
  # Roles, Permissions & Members
  # ──────────────────────────────────────────────
  /org/industries/{id}/prompts:
    get:
      tags: [Industries]
      summary: List an industry's prompts
      description: >-
        Returns one page of the prompts an industry runs — the ids you pass to
        `POST /org/industries/{id}/prompts/import` to adopt them, and to
        `POST /org/content-generation/industry-prompt-draft` to draft from one. You can
        read any industry in the public catalogue (`GET /org/industries`) and your
        organization's own industry; any other id is a `404`.


        Only the industry's active prompts are listed. A prompt switched off at the
        industry collects no new results and is rejected by the import, so it is left out.


        `funnel_stage` is the stage the prompt would have in your organization once
        imported, so the stage you pick by is the stage you get.


        Each prompt also carries how it went over the date window. `models` has one
        entry per AI model that answered it, with your own brand overlaid: how many
        answers that model gave, and how many of them named you. `top_three_mentioned`
        is the three brands named most often on that prompt by anyone — so a prompt
        whose `models` show no mentions of you, next to a full `top_three_mentioned`,
        is one worth looking at: the AI answers it, and the brands it names are not
        yours.


        The window bounds the FIGURES, never the list. Every active prompt is returned
        whether or not it has results in the window; one without them carries `[]` for
        both.


        Figures are grouped into whole weeks, Monday to Sunday, UTC. A week is counted
        when its Monday falls inside `from`–`to`, so a `from` that lands mid-week starts
        the figures at the following Monday, and the last week is counted in full even
        where it runs past `to`. Pass Mondays for exact weekly slices. `window` echoes
        the dates you asked for.


        Prompts come back oldest first, in a stable order. `limit` and `offset` are
        validated rather than adjusted: a `limit` above 100 is a `400`, not a silently
        smaller page. Requires the GEO product.
      operationId: orgListIndustryPrompts
      parameters:
        - $ref: "#/components/parameters/IndustryID"
        - $ref: "#/components/parameters/IndustryFrom"
        - $ref: "#/components/parameters/IndustryTo"
        - $ref: "#/components/parameters/IndustryModels"
        - $ref: "#/components/parameters/IndustryLocation"
        - name: limit
          in: query
          description: Page size (1-100). Defaults to 50. Anything else is a `400`.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: offset
          in: query
          description: >-
            Number of prompts to skip. Defaults to 0. A negative or non-integer value is
            a `400`.
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: One page of the industry's active prompts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgIndustryPromptListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /org/industries/{id}/answers/latest:
    get:
      tags: [Industries]
      summary: Latest industry answers
      description: >-
        The newest stored answer for each of your industry's prompts, from each AI model at
        each location, with the full response text — and for every answer, whether it named
        your brand, where in the answer, and in what tone. This is how you find the prompts
        the AI answers without you, and read exactly what it says when it does.


        Only your organization's own industry can be read here; any other id is a `404`.
        Requires the GEO product.


        Each prompt × model × location has exactly one newest answer, so there is no date
        window: `since` hides combinations whose newest answer is older than that day
        rather than returning older answers. Ask "which prompts does this model answer
        without naming me" with `mentioned=false` and `models` set to that one model —
        every other model's answer to the same prompt is a separate row, and you have not
        asked for it.


        Answers where the model returned nothing are left out unless you pass
        `include_empty=true`. An answer with no text names no brands, so it would otherwise
        read as an answer that left you out.


        The same brand is named in one answer as `Rival Bank` and in another as `Rival`;
        `brands[].key` is the same for both, so you can group on it. Paged, newest first.
        `limit` and `offset` are validated rather than adjusted: a `limit` above 100 is a
        `400`, not a silently smaller page.
      operationId: orgListIndustryLatestAnswers
      parameters:
        - $ref: "#/components/parameters/IndustryID"
        - name: mentioned
          in: query
          description: >-
            Restrict to answers that did (`true`) or did not (`false`) name your brand.
            Omit for all answers.
          schema:
            type: boolean
        - $ref: "#/components/parameters/IndustryModels"
        - $ref: "#/components/parameters/IndustryLocation"
        - name: prompt_ids
          in: query
          description: >-
            Comma-separated prompt ids (from `GET /org/industries/{id}/prompts`) to
            restrict to. Omit for every prompt. An id that is not a uuid is a `400`.
          schema:
            type: string
        - name: since
          in: query
          description: >-
            Only include answers collected on or after this day, `YYYY-MM-DD`. Omit for no
            lower bound.
          schema:
            type: string
            format: date
        - name: include_empty
          in: query
          description: >-
            `true` to include answers where the model returned nothing. Defaults to
            `false`.
          schema:
            type: boolean
            default: false
        - name: limit
          in: query
          description: Page size (1-100). Defaults to 25. Anything else is a `400`.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: offset
          in: query
          description: >-
            Number of answers to skip. Defaults to 0. A negative or non-integer value is a
            `400`.
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: >-
            One page of the industry's newest answers. When the industry has no results
            yet, or is not included in your plan, `answers` is empty and `notes` says so.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgIndustryAnswersResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /org/industries/{id}/prompts/import:
    post:
      tags: [Prompts]
      summary: Import prompts from your industry
      description: >-
        Copies prompts from your organization's industry into your organization and starts
        importing the run history already collected for them, so their analytics begin with
        data instead of an empty chart. History is copied only for the AI models and
        locations your organization runs, and only to prompts whose text matches the
        industry prompt's.


        Only your organization's own industry is accepted: any other industry id, and an
        organization with no industry, is a `403`. Every requested prompt must be a live,
        active prompt of that industry with text that fits a prompt, and no two may share
        the same text; otherwise the whole request is rejected with a `400` naming the
        offending ids and nothing is changed.


        Once accepted, each prompt is either `created` or `skipped` because your
        organization already holds a prompt with the same text. Sending the same request
        again is safe — prompts already present are skipped, and the history import is
        started again or, if one is still running, that one is returned. Importing
        activates your organization and starts its scheduled runs. Any prompts already
        saved to the organization that were not yet running will begin running as well.
        Should the request fail after it was accepted, prompts created before the failure
        remain and the organization may already be activated; send the same request again
        to finish.


        Follow the history import with `GET /org/history-imports/{importId}` using the
        returned `history_import.import_id`. A `completed` import may have copied nothing —
        read its `prompts_count` and `historic_runs_imported` rather than the status alone.
        Requires the GEO product.
      operationId: orgImportIndustryPrompts
      parameters:
        - name: id
          in: path
          required: true
          description: Your organization's industry id. Any other industry is a `403`.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImportIndustryPromptsRequest"
            example:
              prompt_ids:
                - 3f2b6a0e-8c1d-4e5f-9a7b-2c4d6e8f0a1b
                - 7a9c1e3f-5b7d-4f9a-8c2e-4d6f8a0b2c3d
      responses:
        "200":
          description: >-
            One outcome per requested prompt, in request order, plus the history import
            that was started, found already running, or could not be started.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImportIndustryPromptsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /org/permissions:
    get:
      tags: [Permissions]
      summary: List available permissions
      description: >-
        Returns the permission actions offered for building org roles. The set is
        curated — a few platform-internal permissions are not listed here.
      operationId: orgGetAvailablePermissions
      responses:
        "200":
          description: The available permissions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvailablePermissionsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /org/roles:
    get:
      tags: [Roles]
      summary: List roles
      description: Returns the roles defined for your organization, including built-in system roles.
      operationId: orgListRoles
      responses:
        "200":
          description: Your organization's roles.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RoleResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /org/members:
    get:
      tags: [Members]
      summary: List members
      description: >-
        Returns one page of your organization's members — the people with access — with
        their role.
      operationId: orgListMembers
      parameters:
        - name: limit
          in: query
          description: Page size, 1–1000 (default 50).
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 50
        - name: offset
          in: query
          description: Number of rows to skip.
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: search
          in: query
          description: Free-text filter on member name or email.
          schema:
            type: string
        - name: sort
          in: query
          description: Sort order.
          schema:
            type: string
            enum: [name_asc, name_desc, email_asc, email_desc, created_asc, created_desc]
            default: name_asc
      responses:
        "200":
          description: One page of members.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgMemberListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────
  # Organization Users — /org/users
  # ──────────────────────────────────────────────
  /org/users:
    get:
      tags: [Users]
      summary: List organization users
      description: Returns the user-membership records for your organization, paged.
      operationId: orgListUsers
      parameters:
        - name: limit
          in: query
          description: Page size (default 10).
          schema:
            type: integer
            minimum: 1
            default: 10
        - name: offset
          in: query
          description: Number of rows to skip.
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: The organization's user memberships.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OrgUserResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      tags: [Users]
      summary: Add a user to the organization
      description: Adds an existing Senso user (by user id) to your organization with a role.
      operationId: orgAddUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddOrgUserRequest"
            example:
              user_id: 7c9e6679-7425-40de-944b-e07fc1f90ae7
              role_id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        "201":
          description: The created membership.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgUserResponse"
        "400":
          $ref: "#/components/responses/BadRequestBody"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /org/users/invite:
    post:
      tags: [Users]
      summary: Invite a new user
      description: >-
        Creates a new user (if they don't exist yet) and adds them to your organization.
        If the email already belongs to a user, that user is added and their given/family
        names are updated to the supplied values.
      operationId: orgInviteUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteOrgUserRequest"
            example:
              email: jordan@example.com
              given_name: Jordan
              family_name: Lee
              role_id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        "201":
          description: The created membership.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgUserResponse"
        "400":
          $ref: "#/components/responses/BadRequestBody"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"

  /org/users/invite/existing:
    post:
      tags: [Users]
      summary: Invite an existing user by email
      description: Adds an existing Senso user, looked up by email, to your organization.
      operationId: orgInviteExistingUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteExistingOrgUserRequest"
            example:
              email: jordan@example.com
              role_id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        "201":
          description: The created membership.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgUserResponse"
        "400":
          $ref: "#/components/responses/BadRequestBody"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /org/users/{userId}:
    get:
      tags: [Users]
      summary: Get a user's membership
      description: Returns one user's membership record in your organization.
      operationId: orgGetUser
      parameters:
        - name: userId
          in: path
          required: true
          description: The user's id.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The membership record.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgUserResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      tags: [Users]
      summary: Update a user's role
      description: Changes a member's role in your organization.
      operationId: orgUpdateUserRole
      parameters:
        - name: userId
          in: path
          required: true
          description: The user's id.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrgUserRoleRequest"
            example:
              role_id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        "200":
          description: The updated membership.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgUserResponse"
        "400":
          $ref: "#/components/responses/BadRequestBody"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [Users]
      summary: Remove a user from the organization
      description: >-
        Removes a user's membership from your organization. This also deletes the user's
        knowledge-base grants and group memberships — re-adding the user later does not
        restore them.
      operationId: orgRemoveUser
      parameters:
        - name: userId
          in: path
          required: true
          description: The user's id.
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: The user was removed. No content.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /org/users/{userId}/current:
    patch:
      tags: [Users]
      summary: Set a user's current org
      description: >-
        Marks your organization as the given user's currently selected org. Only
        `is_current: true` is accepted — this endpoint cannot un-set a current org.
      operationId: orgSetUserCurrentOrg
      parameters:
        - name: userId
          in: path
          required: true
          description: The user's id.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetCurrentOrgRequest"
            example:
              is_current: true
      responses:
        "200":
          description: The updated membership.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgUserResponse"
        "400":
          $ref: "#/components/responses/BadRequestBody"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────
  # Tags — /org/tags
  # ──────────────────────────────────────────────
  /org/tags:
    get:
      tags: [Tags]
      summary: List tags
      description: Returns your organization's tag library. Usage counts are optional.
      operationId: orgListTags
      parameters:
        - name: counts
          in: query
          description: Include per-tag usage counts.
          schema:
            type: boolean
            default: false
        - name: include_uncurated
          in: query
          description: Also include machine-minted tags not yet in the curated vocabulary (see the `curated` field).
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: The organization's tags.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TagsListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Tags]
      summary: Create a tag
      description: >-
        Adds a tag to your organization's library. Names are trimmed of surrounding
        whitespace. If an uncurated tag already holds the name (case-insensitively),
        that tag is adopted — promoted to curated, renamed to your casing — and returned
        with its existing id. `409` only when a curated tag already holds the name.
      operationId: orgCreateTag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTagRequest"
            example:
              name: mortgages
      responses:
        "201":
          description: The created tag.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TagResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"

  /org/tags/{id}:
    get:
      tags: [Tags]
      summary: Get a tag
      description: Returns one tag with its usage counts.
      operationId: orgGetTag
      parameters:
        - name: id
          in: path
          required: true
          description: The tag's id.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The tag, always including its usage counts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TagResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Tags]
      summary: Rename a tag
      description: >-
        Changes a tag's name (trimmed of surrounding whitespace). Renaming also marks
        the tag curated.
      operationId: orgUpdateTag
      parameters:
        - name: id
          in: path
          required: true
          description: The tag's id.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTagRequest"
            example:
              name: home-loans
      responses:
        "200":
          description: The updated tag.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TagResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
    delete:
      tags: [Tags]
      summary: Delete a tag
      description: >-
        Deletes a tag and removes it from everything it was attached to — prompts,
        content items, knowledge-base nodes, and recorded search queries.
      operationId: orgDeleteTag
      parameters:
        - name: id
          in: path
          required: true
          description: The tag's id.
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: The tag was deleted. No content.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────
  # API Keys — /org/api-keys (read-only over the API)
  # Creating, updating, revoking, and deleting keys, and setting their KB scope,
  # require user (dashboard) authentication and cannot be done with an API key.
  # ──────────────────────────────────────────────
  /org/api-keys:
    get:
      tags: [API Keys]
      summary: List API keys
      description: >-
        Returns one page of your organization's API keys (never the secret key values,
        which are shown only once at creation). Creating, updating, revoking, and
        deleting keys is done in the dashboard — those actions require user
        authentication and are not available with an API key.
      operationId: orgListAPIKeys
      parameters:
        - name: limit
          in: query
          description: Page size (default 10). Non-positive values fall back to the default; not rejected.
          schema:
            type: integer
            default: 10
        - name: offset
          in: query
          description: Number of rows to skip (default 0). Negative values fall back to 0; not rejected.
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: One page of API keys.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIKeyListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /org/api-keys/{keyId}:
    get:
      tags: [API Keys]
      summary: Get an API key
      description: >-
        Returns one of your organization's API keys by id (never its secret value).
      operationId: orgGetAPIKey
      parameters:
        - name: keyId
          in: path
          required: true
          description: The API key's id.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The API key.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIKeyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /org/api-keys/{keyId}/kb-permissions:
    get:
      tags: [API Keys]
      summary: Get an API key's KB scope
      description: >-
        Returns the knowledge-base folder grants that restrict a key. An empty array
        means the key is unscoped and can query the entire knowledge base. Note an
        unknown or revoked key id also returns an empty array — this endpoint does
        not 404.
      operationId: orgGetAPIKeyKBPermissions
      parameters:
        - name: keyId
          in: path
          required: true
          description: The API key's id.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The key's KB folder grants (empty if unscoped).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/APIKeyScopeGrant"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ──────────────────────────────────────────────
  # Search — /org/search (query the compiled knowledge base)
  # ──────────────────────────────────────────────
  /org/search:
    post:
      tags: [Search]
      summary: Search with a grounded answer
      description: >-
        Runs a retrieval over your compiled knowledge base and returns the matched
        chunks together with an AI-generated answer grounded on them. Every chunk carries
        the `kb_node_id` of its source document, so a cited passage can be opened in full
        with `GET /org/kb/nodes/{kb_node_id}`. Each call consumes search credits.
      operationId: orgSearch
      parameters:
        - $ref: "#/components/parameters/SensoSignals"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
            example:
              query: What are the current 30-year mortgage rates?
              max_results: 5
              search_type: hybrid
      responses:
        "200":
          description: The matched chunks and the grounded answer.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "403":
          $ref: "#/components/responses/Forbidden"

  /org/search/context:
    post:
      tags: [Search]
      summary: Retrieve matching chunks (no answer)
      description: >-
        Runs the same retrieval as `POST /org/search` but returns only the matched
        chunks — no AI answer is generated. Use this to build your own prompt context.
        Every chunk carries the `kb_node_id` of its source document, so a passage can be
        opened in full with `GET /org/kb/nodes/{kb_node_id}`. Each call consumes search
        credits.
      operationId: orgSearchContext
      parameters:
        - $ref: "#/components/parameters/SensoSignals"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
            example:
              query: What are the current 30-year mortgage rates?
              max_results: 5
              search_type: hybrid
      responses:
        "200":
          description: The matched chunks.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchContextResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "403":
          $ref: "#/components/responses/Forbidden"

  /org/search/full:
    post:
      tags: [Search]
      summary: Search with a full-document-grounded answer
      description: >-
        Like `POST /org/search`, but the answer is grounded on the full content of the
        matched documents rather than only the retrieved chunks. Returns the matched
        chunks plus the answer. Every chunk carries the `kb_node_id` of its source
        document, so a cited passage can be opened in full with
        `GET /org/kb/nodes/{kb_node_id}`. Each call consumes search credits.
      operationId: orgSearchFull
      parameters:
        - $ref: "#/components/parameters/SensoSignals"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
            example:
              query: What are the current 30-year mortgage rates?
              max_results: 5
              search_type: hybrid
      responses:
        "200":
          description: The matched chunks and the full-document-grounded answer.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "403":
          $ref: "#/components/responses/Forbidden"

  /org/search/content:
    post:
      tags: [Search]
      summary: Find matching content items
      description: >-
        Runs the retrieval and returns only the distinct documents that matched — no
        chunks, no AI answer. Each item carries the document's `kb_node_id` alongside its
        `content_id` and title, so a match can be read, renamed, moved or deleted through
        the `/org/kb/nodes/{kb_node_id}` endpoints without a further lookup. Use this to
        discover which documents are relevant. Each call consumes search credits.
      operationId: orgSearchContent
      parameters:
        - $ref: "#/components/parameters/SensoSignals"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
            example:
              query: What are the current 30-year mortgage rates?
              max_results: 5
              search_type: hybrid
      responses:
        "200":
          description: The distinct content items that matched.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchContentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "403":
          $ref: "#/components/responses/Forbidden"

  /org/search/stream:
    post:
      tags: [Search]
      summary: Stream a grounded answer (SSE)
      description: >-
        Like `POST /org/search`, but streams the result as Server-Sent Events: `token`
        events carry the answer as it is generated, a `sources` event then carries the
        matched chunks — each with the `kb_node_id` of its source document — and a final
        `done` event closes the stream. If answer generation fails to start, an `error`
        event is emitted instead (the HTTP status stays 200 because headers are already
        sent); a provider failure mid-stream ends the stream normally (`sources` +
        `done`) with a truncated answer. Each call consumes search credits.
      operationId: orgSearchStream
      parameters:
        - $ref: "#/components/parameters/SensoSignals"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
            example:
              query: What are the current 30-year mortgage rates?
              max_results: 5
              search_type: hybrid
      responses:
        "200":
          description: >-
            A `text/event-stream` of SSE events: `token` (`{"token": "..."}`), then
            `sources` (`{"results": [...], "total_results": N, "max_results": N,
            "search_type": "..."}`, where each entry of `results` is a
            `SearchResultChunk`), then `done` (`{}`); or `error`
            (`{"error": "..."}`) on a post-open failure.
          content:
            text/event-stream:
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "403":
          $ref: "#/components/responses/Forbidden"

  # ──────────────────────────────────────────────
  # Gaps — /org/gaps (what the knowledge base could not back up)
  # ──────────────────────────────────────────────
  /org/gaps:
    get:
      tags: [Gaps]
      summary: List gaps
      description: >-
        Returns a page of your organization's gap queue, the same queue the Senso app
        shows as the Gap Report. With no `statuses` filter only `open`, `reopened` and
        `addressed` gaps are returned, so an API search gap seen only once (`weak`) does
        not appear until you ask for it with `statuses=weak`.


        Repeatable filters are sent as repeated query parameters
        (`?statuses=weak&statuses=open`). Values within one filter are ORed; different
        filters are ANDed.
      operationId: orgListGaps
      parameters:
        - name: statuses
          in: query
          description: >-
            Restrict to these statuses. Defaults to `open`, `reopened` and `addressed`
            when omitted.
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/GapStatus"
        - name: problems
          in: query
          description: >-
            Restrict to these problems. An unrecognized value is rejected with 400.
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/GapProblem"
        - name: surfaces
          in: query
          description: Restrict to gaps seen on any of these surfaces.
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/GapSurface"
        - name: origin_kinds
          in: query
          description: >-
            Restrict to gaps with any of these origins. Use `api_unanswered_question` for
            searches through the org API, the MCP server or the CLI that found nothing.
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/GapOriginKind"
        - name: kinds
          in: query
          description: Restrict to these kinds.
          style: form
          explode: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/GapKind"
        - name: tag_ids
          in: query
          description: >-
            Restrict to gaps carrying any of these tags. Values that are not UUIDs are
            ignored.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              format: uuid
        - name: search
          in: query
          description: Case-insensitive substring match on the gap text (`claim_text`).
          schema:
            type: string
        - name: sort
          in: query
          description: >-
            `severity` (the default) puts conflicts above missing context, then wider
            spread, then recency. `recent` orders by `last_seen_at`, newest first.
            `demand` orders by `asker_count`, then `occurrence_count`, then recency.
          schema:
            type: string
            enum: [severity, recent, demand]
            default: severity
        - name: limit
          in: query
          description: Page size, 1–100 (default 50). A value outside that range is treated as 50.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: offset
          in: query
          description: Number of gaps to skip.
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: A page of the gap queue.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GapListResponse"
              example:
                gaps:
                  - gap_id: 5b0e3a4c-2f1d-4c6e-9a8b-7d3e2f1a0b9c
                    kind: missing
                    problem: not_found
                    status: open
                    claim_text: Do you offer an annual plan?
                    occurrence_count: 3
                    asker_count: 0
                    api_occurrence_count: 3
                    surfaces: [api_search]
                    first_seen_at: "2026-09-14T10:00:00Z"
                    last_seen_at: "2026-09-14T12:30:00Z"
                    status_changed_at: "2026-09-14T11:05:00Z"
                    awaiting_update: false
                    tags: []
                    origin:
                      kind: api_unanswered_question
                      surface: api_search
                      subject_id: 0c9d8e7f-6a5b-4c3d-2e1f-0a9b8c7d6e5f
                      surface_counts:
                        search_turn: 0
                        content: 0
                        question_run: 0
                        api_search: 3
                total: 1
                limit: 50
                offset: 0
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /org/gaps/{gapId}:
    get:
      tags: [Gaps]
      summary: Get a gap
      description: >-
        Returns one gap with up to its 20 most recent sightings, every resolution
        recorded against it (newest first), and the evidence behind it. For an API search
        gap, `lead_evidence` carries the question and the retrieval counts from the most
        recent search that found nothing. The embedded `gap` never carries
        `latest_resolution` and always reports `awaiting_update: false`; read
        `resolutions` instead.
      operationId: orgGetGap
      parameters:
        - $ref: "#/components/parameters/GapID"
      responses:
        "200":
          description: The gap, its sightings, its resolutions and its evidence.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GapDetailResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /org/gaps/{gapId}/resolutions:
    post:
      tags: [Gaps]
      summary: Record a resolution
      description: >-
        Records what was done about a gap and moves its status accordingly.


        - `answered`, `content_added`, `content_updated` → `addressed`. Each requires
        `produced_content_id`.

        - `ruled_kb_correct`, `we_dont_do_this` → `resolved`.

        - `dismissed`, `not_relevant`, `source_irrelevant` → `dismissed`.
        `source_irrelevant` requires `authority_content_id`.

        - `ruled_claim_correct`, `ruled_document` → no status change. The ruling is
        recorded, and an open gap shows `awaiting_update` in the list until a follow-up
        resolution such as `content_updated` moves it. Each requires
        `authority_content_id`.


        A resolution recorded with an API key names no person, so it has no
        `resolved_by_name` or `resolved_by_email`.
      operationId: orgCreateGapResolution
      parameters:
        - $ref: "#/components/parameters/GapID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGapResolutionRequest"
            example:
              resolution_type: content_added
              produced_content_id: 8f14e45f-ceea-467a-9c2b-1b2f8d3a1c7e
              notes: Added the annual plan to the pricing page.
      responses:
        "201":
          description: The recorded resolution.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GapResolution"
        "400":
          description: >-
            The body was malformed, `resolution_type` is missing or unknown, a content id
            the type requires is missing, or the gap does not exist in your organization.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /org/gaps/{gapId}/resolutions/{resolutionId}:
    delete:
      tags: [Gaps]
      summary: Undo a resolution
      description: >-
        Retracts a resolution and recomputes the gap's status from the resolutions that
        remain: the newest remaining resolution that implies a status decides it, and if
        none does, the gap returns to `open`.
      operationId: orgDeleteGapResolution
      parameters:
        - $ref: "#/components/parameters/GapID"
        - name: resolutionId
          in: path
          required: true
          description: The resolution's id.
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: The resolution was retracted. No content.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: >-
            The gap or the resolution does not exist in your organization, or the
            resolution belongs to a different gap.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ──────────────────────────────────────────────
  # Evals — /org/evals
  # ──────────────────────────────────────────────
  /org/evals/text:
    post:
      tags: [Evals]
      summary: Evaluate text you supply
      description: >-
        Judges arbitrary text with no setup — paste a draft, an answer, or a page and
        have every factual claim it makes about your brand checked against your
        knowledge base (the default `kb_accuracy` evaluator), or its writing graded
        against your brand kit (`brand_alignment`). The text is stored with the run
        and returned in the run detail. By default the run is queued and a `202`
        returns the run to poll at `GET /org/evals/runs/{runId}`. With `wait: true`
        the connection is held and the finished run is returned as a `200`; if the
        run has not finished within the server's wait ceiling (about a minute), the
        response degrades to the `202` handle and the run keeps executing. Send an
        `idempotency_key` to make a retried trigger return the original run instead
        of judging the same text twice.
      operationId: orgEvalText
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EvalTextRequest"
            example:
              title: Homepage hero copy
              text: Senso compiles an enterprise's knowledge into verified ground truth for AI agents.
              evaluator: kb_accuracy
              label: homepage-draft-3
      responses:
        "200":
          description: >-
            The run finished within the wait ceiling (`wait: true` only) — the full
            run, including claims, verdicts, and the judge's audit trail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalRunDetail"
        "202":
          description: >-
            The run to poll at `GET /org/evals/runs/{runId}`. Normally a freshly queued
            run. On an `idempotency_key` match it is the original run in whatever
            state it had reached; when `wait: true` timed out it is the run as queued —
            poll for its current status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalRunSummary"
        "400":
          $ref: "#/components/responses/BadRequestBody"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /org/evals/content:
    post:
      tags: [Evals]
      summary: Evaluate a saved content item
      description: >-
        Judges the latest saved version of one content item — a knowledge-base
        document or a generated article — identified by its content id. Only items
        whose latest version is raw text can be judged: file and web items (an
        uploaded PDF, a crawled page) store a pointer rather than text of their own
        and are a `422`, as is an item with no saved version. An id that is not one
        of your organization's items is a `404`. Evaluator selection, `wait`, and
        `idempotency_key` behave exactly as for `POST /org/evals/text`.
      operationId: orgEvalContent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EvalContentRequest"
            example:
              content_id: 123e4567-e89b-12d3-a456-426614174000
              evaluator: kb_accuracy
              wait: true
      responses:
        "200":
          description: >-
            The run finished within the wait ceiling (`wait: true` only) — the full
            run, including claims, verdicts, and the judge's audit trail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalRunDetail"
        "202":
          description: >-
            The run to poll at `GET /org/evals/runs/{runId}`. Normally a freshly queued
            run. On an `idempotency_key` match it is the original run in whatever
            state it had reached; when `wait: true` timed out it is the run as queued —
            poll for its current status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalRunSummary"
        "400":
          $ref: "#/components/responses/BadRequestBody"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /org/evals/runs:
    get:
      tags: [Evals]
      summary: List eval runs
      description: >-
        Returns one page of your organization's eval runs, newest first, with each
        run's status and headline metrics. The bulky payloads — the subject
        snapshot, claims, searches, and evidence — are left to the single-run read.
        Filter by creation time, evaluator, and subject type.
      operationId: orgListEvalRuns
      parameters:
        - $ref: "#/components/parameters/EvalFrom"
        - $ref: "#/components/parameters/EvalTo"
        - $ref: "#/components/parameters/EvalEvaluatorFilter"
        - $ref: "#/components/parameters/EvalSubjectTypeFilter"
        - $ref: "#/components/parameters/EvalLimit"
        - $ref: "#/components/parameters/EvalOffset"
      responses:
        "200":
          description: One page of eval runs.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalRunListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /org/evals/runs/{runId}:
    get:
      tags: [Evals]
      summary: Get an eval run
      description: >-
        Returns everything about one run: its status and metrics, the subject as it
        was judged, every claim with its verdict and evidence, and the judge's audit
        trail — every search it ran and every passage it read — so a verdict can be
        checked rather than trusted. This is the poll target for a queued run; the
        run is finished when `status` is `completed`, `gated`, or `failed`.
      operationId: orgGetEvalRun
      parameters:
        - $ref: "#/components/parameters/EvalRunID"
      responses:
        "200":
          description: The run.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalRunDetail"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /org/evals/claims:
    get:
      tags: [Evals]
      summary: List judged claims
      description: >-
        Returns one page of judged claims across your organization's runs, newest
        first — the gap report. Each claim carries its verdict, its classification
        bucket, and the evidence behind it. Filter by creation time, evaluator,
        subject type, or a single run.
      operationId: orgListEvalClaims
      parameters:
        - $ref: "#/components/parameters/EvalFrom"
        - $ref: "#/components/parameters/EvalTo"
        - $ref: "#/components/parameters/EvalEvaluatorFilter"
        - $ref: "#/components/parameters/EvalSubjectTypeFilter"
        - $ref: "#/components/parameters/EvalClaimRunIDFilter"
        - $ref: "#/components/parameters/EvalLimit"
        - $ref: "#/components/parameters/EvalOffset"
      responses:
        "200":
          description: One page of judged claims.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalClaimListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /org/evals/evaluators:
    get:
      tags: [Evals]
      summary: List available evaluators
      description: >-
        Returns the evaluators your organization can run, each with the subject types
        it accepts and descriptors for the metrics it reports, so results can be
        rendered without knowing an evaluator in advance.
      operationId: orgListEvaluators
      responses:
        "200":
          description: The available evaluators.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvaluatorListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ──────────────────────────────────────────────
  # Knowledge Base — /org/kb
  # ──────────────────────────────────────────────
  /org/kb/stats:
    get:
      tags: [Knowledge Base]
      summary: Get knowledge base counts
      description: Returns how many documents and folders your organization's knowledge base contains.
      operationId: orgKBGetStats
      responses:
        "200":
          description: Knowledge base counts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KBStatsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /org/kb/root:
    get:
      tags: [Knowledge Base]
      summary: Get the root folder
      description: >-
        Returns your organization's root knowledge-base folder (its `parent_id` is null).
        The root is a folder, so its response never includes `content`/`content_id`.
      operationId: orgKBGetRoot
      responses:
        "200":
          description: The root node.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KBNodeResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /org/kb/sync-status:
    get:
      tags: [Knowledge Base]
      summary: Get structural sync status
      description: >-
        Reports whether queued structural changes — moves and deletes — are still
        propagating. Both go through a queue before taking full effect, and a move
        changes who can reach a document: access is derived from the folder a node sits
        in, so after moving a document into a folder, the people who can read that
        folder cannot query it until this reports done. Deletes settle the same way.


        This is not an ingestion signal, and it is not scoped to one document. To learn
        whether a newly ingested document is queryable, poll that document's
        `GET /org/kb/nodes/{id}` and read `content.processing_status`.
      operationId: orgKBGetSyncStatus
      responses:
        "200":
          description: The sync status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KBSyncStatusResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /org/kb/my-files:
    get:
      tags: [Knowledge Base]
      summary: List accessible top-level nodes
      description: >-
        Returns the top-level knowledge-base nodes the caller can access, one page at a
        time.
      operationId: orgKBListMyFiles
      parameters:
        - $ref: "#/components/parameters/KBListLimit"
        - $ref: "#/components/parameters/KBListOffset"
        - $ref: "#/components/parameters/KBTypeFilter"
        - $ref: "#/components/parameters/KBStatusFilter"
        - $ref: "#/components/parameters/KBRoleFilter"
        - $ref: "#/components/parameters/KBSortBy"
        - $ref: "#/components/parameters/KBSortOrder"
        - $ref: "#/components/parameters/KBTagIDsFilter"
      responses:
        "200":
          description: One page of accessible nodes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KBNodeListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /org/kb/find:
    get:
      tags: [Knowledge Base]
      summary: Search nodes by name
      description: >-
        Searches the knowledge base by node name and returns the matching nodes the
        caller can access. An empty `q` returns an empty list.
      operationId: orgKBFind
      parameters:
        - name: q
          in: query
          description: The search text (matched against node names). Empty returns no results.
          schema:
            type: string
        - $ref: "#/components/parameters/KBListLimit"
        - $ref: "#/components/parameters/KBListOffset"
        - $ref: "#/components/parameters/KBTypeFilter"
        - $ref: "#/components/parameters/KBStatusFilter"
        - $ref: "#/components/parameters/KBRoleFilter"
        - $ref: "#/components/parameters/KBSortBy"
        - $ref: "#/components/parameters/KBSortOrder"
        - $ref: "#/components/parameters/KBTagIDsFilter"
      responses:
        "200":
          description: The matching nodes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KBNodeListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /org/kb/folders:
    post:
      tags: [Knowledge Base]
      summary: Create a folder
      description: >-
        Creates a folder in the knowledge base. Omit `parent_id` (or set it to null) to
        create the folder under the root.
      operationId: orgKBCreateFolder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFolderRequest"
            example:
              name: Mortgage rates
              parent_id: 3f1a6d2e-8c4b-4a1e-9b7c-2d5e6f7a8b9c
      responses:
        "201":
          description: The created folder.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KBNodeResponse"
        "400":
          $ref: "#/components/responses/BadRequestBody"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /org/kb/raw:
    post:
      tags: [Knowledge Base]
      summary: Create a raw-text document
      description: >-
        Creates a document from raw text (or markdown) in the knowledge base and starts
        ingesting it. Omit `kb_folder_node_id` to create it under the root. Returns `202`
        while ingestion runs asynchronously — poll the node or `GET /org/kb/sync-status`
        for completion.
      operationId: orgKBCreateRawContent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRawContentRequest"
            example:
              title: Current mortgage rates
              text: "The current 30-year fixed rate is 6.5%."
              kb_folder_node_id: 3f1a6d2e-8c4b-4a1e-9b7c-2d5e6f7a8b9c
      responses:
        "202":
          description: The document was created and is being ingested.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /org/kb/upload:
    post:
      tags: [Knowledge Base]
      summary: Upload files
      description: >-
        Registers up to 10 files for ingestion and returns a presigned upload URL per
        accepted file (`status: upload_pending`) — PUT the file bytes to that URL to start
        ingestion. Files that conflict, duplicate, or fail validation come back with a
        per-file status instead. Omit `kb_folder_node_id` to create under the root. When
        no file is accepted the whole response is returned with `422`.
      operationId: orgKBUploadFiles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IngestionUploadRequest"
            example:
              kb_folder_node_id: 3f1a6d2e-8c4b-4a1e-9b7c-2d5e6f7a8b9c
              files:
                - filename: rates.pdf
                  file_size_bytes: 240128
                  content_type: application/pdf
                  content_hash_md5: 9e107d9d372bb6826bd81d3542a419d6
      responses:
        "200":
          description: Per-file ingestion registration results (at least one file accepted).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngestionUploadResponse"
        "400":
          $ref: "#/components/responses/BadRequestBody"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          $ref: "#/components/responses/PaymentRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          description: No file was accepted; the same result body reports why per file.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngestionUploadResponse"

  /org/kb/nodes/bulk-delete:
    post:
      tags: [Knowledge Base]
      summary: Delete multiple nodes
      description: >-
        Deletes up to 100 nodes at once. Folders take their whole subtree with them. The
        batch is all-or-nothing — if any node is missing, not permitted, a root, or still
        ingesting, nothing is deleted. A `204` means every listed node is gone.
      operationId: orgKBBulkDeleteNodes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkDeleteKBNodesRequest"
            example:
              node_ids:
                - 3f1a6d2e-8c4b-4a1e-9b7c-2d5e6f7a8b9c
                - 7b2c1d4e-9a3f-4c8d-8e21-5f6a7b8c9d01
      responses:
        "204":
          description: Every listed node (and any subtree) was deleted. No content.
        "400":
[...]
